.header {
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  height: 80px;
  justify-content: space-between;
  left: 0;
  padding: 0px 64px;
  right: 0;
}

.logo {
  width: 140px;
}

.links {
  align-items: center;
  display: flex;
  gap: 56px;
}

.button {
  background-color: #DB5A47;
  border: none;
  border-radius: 8px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 12px 32px;
}

.buttonSimple {
  color: #414141;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-decoration: none;
}